:root{
    --bc-gelo:rgb(233, 233, 233);
    --bc-gelo2:rgb(196, 196, 196);
    --vermelho:#E9081A;
    --azul-escuro:#022155;
    --text-cz-claro:#818181;
}

*{padding: 0; margin: 0; list-style: none; box-sizing: border-box;}
a{text-decoration: none; color: #fff; color: var(--bc-gelo);}

/*Backgroun*/
.background-embaixada{
    position: relative;
    width: 100%;
    height: 100%;
}

.background-embaixada::after{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 99%;
    background-color: rgba(0,0,0,0.5);
}

.background-embaixada img{
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 70vh;
}

.desc-legenda-embaixada{
    position: absolute;
    top: 20vh;
    width: 100%;
    padding: 20px;
    color: #fff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desc1-embaixada{font-size: 1.3rem;}
.desc2-embaixada{font-size: 2.5rem;}

.busc-emb{
    position: absolute;
    width: 100%;
    bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: #fff;
}

.flutuant{
    position: relative;
    font-size: 2.5rem;
    color: #E9081A;
    animation: identifier 5s infinite;
}

@keyframes identifier {
    0%{
        transform:translateY(0);
    }

    50%{
        transform: translateY(40px);
    }

    100%{
        transform: translateY(0);
    }
}

/*Container*/
.container-embaixadas{
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
}

.title-container{
    position: relative;
    padding: 50px 10px;
    color: #000 !important;
}

.body-embaixadas{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem 3rem;
    padding: 15px 10px;
    margin-top: 20px;
}

.box-embaixadas{
    position: relative;
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 600ms all ease-in-out;
    box-shadow: 0 0 15px 2px #c4c4c4;
}

.title-box-embaixada{
    font-size: 1.5rem; 
    color: #222222; 
    transition: 600ms all ease-in-out; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    padding: 15px 10px;
    border-radius: 10px 10px 0 0;
}

.box-info{
    display: block;
    color: var(--text-cz-claro);
    height: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;
    transition: 600ms all ease-in-out;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.leg-title{font-size: 1.1rem;}

.conatiner-lider{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 200;
}

.dados-lider{display: flex; gap: 0.8rem; align-items: center; font-size: 1rem; margin-top: 5px;}
.dados-lider i{color: var(--text-cz-claro); }
.dados-lider a{ color: var(--text-cz-claro);}

.localizacao{font-size: 0.8rem; display: flex; gap: 0.8rem; color: var(--text-cz-claro);}
.localizacao a{color: var(--text-cz-claro);}

.box-embaixadas:hover{
    transition: 600ms all ease-in-out;
}

.box-embaixadas:hover .title-box-embaixada{color: #fff; background-color: rgba(0,0,0,0.8);}

.box-embaixadas:hover .dados-lider i{color: var(--vermelho);}
.box-embaixadas:hover .dados-lider a{color: var(--text-cz-claro);}

.box-embaixadas:hover .localizacao i{color: var(--vermelho);}

@media (min-width:1023px){
    /*background*/
    .desc1-embaixada{font-size: 2rem;}
    .desc2-embaixada{font-size: 3.5rem;}

    /*Box*/
    .box-embaixadas{max-width: 250px;}
}